meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
link(rel='icon' type='image/x-icon' href='favicon.ico')

title
	if title
		| #{title}
	else
		| Страница не существует

link(rel='stylesheet' href='../src/css/style.css')