doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='icon' type='image/x-icon' href='favicon.ico')

		title Шаблон тест Pug-разметки

		link(rel='stylesheet' href='../src/css/style.css')
	
	body
		header
			include:markdown-it ./src/includes/header.md

		main 
			include ./src/includes/main.pug

