- const title = 'Главная страница сайта';

doctype html
html(lang='ru')
	head
		include ./includes/head.pug
	
	body
		header
			include:markdown-it ./includes/header.md

		main
			include ./includes/mixin.pug
			include ./includes/main.pug
			include ./includes/icon.pug
			
			+table(
				["№", "Профессия", "Описание", "Срок"],
				[
					["1","Фронтенд-программист","Разработка фронтенд-компонентов веб-приложений","8 месяцев"],
					["2","Python-программист","Разработка веб-приложений на Django","8 месяцев"],
					["3","PHP-программист","Разработка веб-приложений на Laravel","8 месяцев"],
				]
			)
